/* * {
    background-color:white;
}

#first-child {
    color: red;
}

#lastchild{color: blue;}

#nth-child{color: blueviolet;} */

.container{
    height: 300px;
    width:700px;
    background :wheat;
    border: 1px;
}

.item1{
    height: 130px;
    width: 130px;
    background-color:rgb(255, 89, 0);
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.item2 {
    position: relative;
    bottom: 130px;
    left: 85px;
    width: 42px;
    height: 42px;
    background-color: white;
}
#text  {
    position: relative;
    bottom: 144px;
    left: 25px;
    font-size: 30px;
    color:white;
}

.contain
{
    position: relative;
    bottom: 200px;
    right: 25px;
    height: 130px;
    width: 150px;
    margin-bottom:50px;
    background-color: purple;
    margin-left: 230px;
    border-radius: 5px;
    
     
}

.child1 {
    position: relative;
    bottom: 275px;
    right:-80px;
    height: 10px;
    width: 100px;
    background-color: yellow;
    border-bottom-left-radius: 10px;
    margin-left: 140px;
}
.child2{
    position: relative;
    top: -422px;
    right: -220px;
    height: 10px;
    width: 100px;
    background-color: yellow;
    border-top-left-radius: 5px;
    
}
#text2
{
position: relative;
bottom:40px;
right:50px;
font-size:40px;
 margin-bottom:30px;
}
 .main{
    height: 180px;
  width: 180px;
background-color: red;
 position: relative;bottom: 530px;
 margin-left: 450px;
 border-radius: 100px;
  
}

#text1
{
position: relative;
bottom:400px;
right:-220px;
font-size:40px;
 margin-bottom:30px;
 color: white;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

 .circle{
    width: 50px;
    height: 50px;
    background-color:white;
    position: relative;
    bottom: 680px;
    left: 550px;
    border-radius: 100px;

    
 }
 

     


